/*  
    #40985e green
    #54cea7 cyan-green
    #0a1a2f deep blue
    #04373b dark teal
    #87ceeb skyblue
*/


/*GLOBAL STYLE
-------------------------------------------------*/

body {
    background: skyblue
}

/*Links*/
a {
    color: #003000;
}

a:hover {
    color: #c0ffc0;
    text-decoration: none;
}

footer a {
    color: #c0ffc0;
}

footer a:hover {
    color: #003000;
}

.btn {
    background: #40985e;
    color: #54cea7;
    text-decoration: none;

}

/*HOME
-------------------------------------------------*/

.home {

    background: url(../images/monkay.png) no-repeat;
    background-size: cover;
}

.home .content-wrapper {
    background: rgb(255, 255, 255, 0.9);
}

/*RESUME
-------------------------------------------------*/
/*Profile
-------------------------------------------------*/
/*Projects
-------------------------------------------------*/



/*Work Experience
-------------------------------------------------*/
/*Education
-------------------------------------------------*/



/*FOOTER
-------------------------------------------------*/

footer {
    background: #222;
    color: #0a1a2f
}