.center-div {
    text-align: center;
    margin: 50px;

}

.up {
    background-color: rgb(18, 137, 216);
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transform: translate(150px, 100px);
}

.down {
    background-color: rgb(203, 192, 25);
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transform: translate(150px, 0px);
}

.right {
    background-color: rgb(203, 13, 13);
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transform: translate(250px, 0px);
}
.left {
    background-color: rgb(24, 173, 18);
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transform: translate(50px, 100px);
}

/* .base {
    background-color: rgb(222, 80, 80);
    width: 200px;
    height: 200px;
    border-radius: 25px;
    margin: 50px auto;
} */

.room {
    background-color: rgb(71, 63, 92);
    width: 500px;
    height: 500px;
    border-radius: 200px;
    margin: auto;
}
